# Follows the gitignore template for Jupyter Notebooks

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Python
__pycache__
.idea/

# LabLidar folders
data/in/test/*
data/out/test/*
figs/TylerXS/*
scripts/PB/*
scripts/Plotting/*